<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">GoalKart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/aboutus">My Orders</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/products/shopping-cart">Shopping Cart 
                        <span  *ngIf="productSrv.cartProducts.length !==0" class="position-absolute top-2 start-10 translate-middle badge rounded-pill bg-danger">
                            {{productSrv.cartProducts.length || 0}}
                            <span class="visually-hidden">unread messages</span>
                          </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/products/whishlist">Wishlist
                        <span  *ngIf="productSrv.whishlistProducts.length !==0" class="position-absolute top-2 start-10 translate-middle badge rounded-pill bg-danger">
                            {{productSrv.whishlistProducts.length || 0}}
                            <span class="visually-hidden">unread messages</span>
                          </span>
                    </a>
                </li>
            
            </ul>
            <ul class="navbar-nav  mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="#">Logout</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/user-profile">My Profile</a></li>
                        <li><a class="dropdown-item" routerLink="change-password">Change Password</a></li>
                        <li><a class="dropdown-item" routerLink="/change-password">Setting</a></li>
                        <li><a class="dropdown-item" routerLink="/products/view">Help us</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>